# Jose Mtanous   A00169781@tec.mx

First Program

In [2]:
print("Hello\nWorld!")

Hello
World!

In [4]:
# print('Hello World!')

Types

In [6]:
type(int(1.0))

int

In [10]:
type(bool(1))

bool

Expressions

In [14]:
x = 43 + 60 + 16 + 41
x

160

In [15]:
total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

Strings

In [17]:
Numbers = "0123456"
evens = Numbers[::2]
evens

'0246'

In [19]:
"0123456".find('1')

1

In [20]:
name = 'Lizz'
print(name[0:2])

Li

Tuples ans Lists

In [21]:
B=["a","b","c"]
B[1:]

['b', 'c']

In [22]:
A = [1, 'a']
B = [2, 1, 'd']
C = A + B
C

[1, 'a', 2, 1, 'd']

In [24]:
C_tuple=(-5, 1, -3)
cTupleSorted = sorted(C_tuple)
print(cTupleSorted)

[-5, -3, 1]

Sets

In [25]:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

In [26]:
S={'A','B','C'}

U={'A','Z','C'}
S&U

{'A', 'C'}

In [27]:
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
sum(A) == sum(B)

False

Dictionaries

In [28]:
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [31]:
L = [1,2]
L.append(['a','b'])
L

[1, 2, ['a', 'b']]

In [32]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

Conditions and Branching

In [33]:
x='a'

if(x!='a'):
    print("This is not a.")
else:
    print("This is a.")

This is a.

Loops

In [34]:
A=[3,4,5]

for a in A:
    print(a)

3
4
5

Functions

In [37]:
a=1

def add(b):
    return a+b

c=add(10)
c

11

In [41]:
def f(*x):
    return sum(x)

c=f(10,20,1)
c

31

Objects and Classes

In [42]:
class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1

In [48]:
myCar = Car(model="Accord",make="Honda",color="blue")
myCar.car_info()
myCar.owner_number = 10
myCar.car_info()

make:  Honda
model: Accord
color: blue
number of owners: 0
make:  Honda
model: Accord
color: blue
number of owners: 10

In [50]:
x=1
if(x!=1):
    print('Hello')
else:
    print('Hi')

print('Mike')

Hi
Mike

In [52]:
A = ['1','2','3']

for a in A:
    print(2*a)

11
22
33

In [53]:
def Delta(x):
    if x==0:
        y=1;
    else:
        y=0;
    return(y)

In [59]:
d = {'a':1,'b':2}
d.keys()

dict_keys(['a', 'b'])