# José Mtanous A00169781
#### Actividad Semanal -- 6, visualización

1. Descarga los datosEnlaces a un sitio externo. y carga el dataset en tu libreta. Descripción aquí. 
1. Obten la información del DataFrame con los métodos y propiedades: shape, columns, head(), dtypes, info(), isna()
1. Limpia los datos eliminando los registros nulos o rellena con la media de la columna
1. Calcula la estadística descriptiva con describe() y explica las medidas de tendencia central y dispersión
1. Realiza el conteo de las variables categóricas
1. Escala los datos, si consideras necesario
1. Reduce las dimensiones con PCA, si consideras necesario.
1. Indica la varianza de los datos explicada por cada componente seleccionado. Para actividades de exploración de los datos la varianza > 70%
1. Indica la importancia de las variables en cada componente
1. Elabora los histogramas de los atributos para visualizar su distribución
1. Realiza la visualización de los datos usando por lo menos 3 gráficos que consideres adecuados: plot, scatter, jointplot, boxplot, areaplot, pie chart, pairplot, bar chart, etc.
1. Interpreta y explica cada uno de los gráficos indicando cuál es la información más relevante que podría ayudar en el proceso de toma de decisiones.

In [32]:
# cargamos la librerías
import pandas as pd
import numpy as np

#### Descarga los datosEnlaces a un sitio externo. y carga el dataset en tu libreta. Descripción aquí.

In [33]:
url = 'https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv'
df = pd.read_csv(url)

In [34]:
# Vamos a ponerle nombres más legibles a las columas segun la descripción
columns = ['id', 'monto', 'genero', 'educacion', 'estadoCivil', 'edad', 
           'estadoCuenta1', 'estadoCuenta2', 'estadoCuenta3', 'estadoCuenta4','estadoCuenta5', 'estadoCuenta6',
           'saldo1', 'saldo2', 'saldo3', 'saldo4', 'saldo5', 'saldo6',
           'pago1', 'pago2', 'pago3', 'pago4', 'pago5', 'pago6',
           'Y']

df.columns = columns
df.head()

,id,monto,genero,educacion,estadoCivil,edad,estadoCuenta1,estadoCuenta2,estadoCuenta3,estadoCuenta4,...,saldo4,saldo5,saldo6,pago1,pago2,pago3,pago4,pago5,pago6,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [35]:
# La columna ID no contiene información relevante para nuestro anáñisis
# así que la vamos a eliminar de nuestro dataFrame.
df = df.drop(['id'], axis=1)

#### Obten la información del DataFrame con los métodos y propiedades: shape, columns, head(), dtypes, info(), isna()

In [36]:
print('-------------df.shape-----------')
print(df.shape)

print('-------------df.columns-----------')
print(df.columns)

print('-------------df.head()-----------')
print(df.head())

print('-------------df.dtypes-----------')
print(df.dtypes)

print('-------------df.info()-----------')
print(df.info())

print('-------------df.isna()-----------')
print(df.isna())

-------------df.shape-----------
(30000, 24)
-------------df.columns-----------
Index(['monto', 'genero', 'educacion', 'estadoCivil', 'edad', 'estadoCuenta1',
       'estadoCuenta2', 'estadoCuenta3', 'estadoCuenta4', 'estadoCuenta5',
       'estadoCuenta6', 'saldo1', 'saldo2', 'saldo3', 'saldo4', 'saldo5',
       'saldo6', 'pago1', 'pago2', 'pago3', 'pago4', 'pago5', 'pago6', 'Y'],
      dtype='object')
-------------df.head()-----------
    monto  genero  educacion  estadoCivil  edad  estadoCuenta1  estadoCuenta2  \
0   20000     2.0        2.0          1.0  24.0            2.0            2.0
1  120000     2.0        2.0          2.0  26.0           -1.0            2.0
2   90000     2.0        2.0          2.0  34.0            0.0            0.0
3   50000     2.0        2.0          1.0  37.0            0.0            0.0
4   50000     1.0        2.0          1.0  57.0           -1.0            0.0

   estadoCuenta3  estadoCuenta4  estadoCuenta5  ...   saldo4   saldo5  \
0           -1.0           -1.0           -2.0  ...      0.0      0.0
1            0.0            0.0            0.0  ...   3272.0   3455.0
2            0.0            0.0            0.0  ...  14331.0  14948.0
3            0.0            0.0            0.0  ...  28314.0  28959.0
4           -1.0            0.0            0.0  ...  20940.0  19146.0

    saldo6   pago1    pago2    pago3   pago4   pago5   pago6    Y
0      0.0     0.0    689.0      0.0     0.0     0.0     0.0  1.0
1   3261.0     0.0   1000.0   1000.0  1000.0     0.0  2000.0  1.0
2  15549.0  1518.0   1500.0   1000.0  1000.0  1000.0  5000.0  0.0
3  29547.0  2000.0   2019.0   1200.0  1100.0  1069.0  1000.0  0.0
4  19131.0  2000.0  36681.0  10000.0  9000.0   689.0   679.0  0.0

[5 rows x 24 columns]
-------------df.dtypes-----------
monto              int64
genero           float64
educacion        float64
estadoCivil      float64
edad             float64
estadoCuenta1    float64
estadoCuenta2    float64
estadoCuenta3    float64
estadoCuenta4    float64
estadoCuenta5    float64
estadoCuenta6    float64
saldo1           float64
saldo2           float64
saldo3           float64
saldo4           float64
saldo5           float64
saldo6           float64
pago1            float64
pago2            float64
pago3            float64
pago4            float64
pago5            float64
pago6            float64
Y                float64
dtype: object
-------------df.info()-----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   monto          30000 non-null  int64
 1   genero         29999 non-null  float64
 2   educacion      29998 non-null  float64
 3   estadoCivil    29998 non-null  float64
 4   edad           29995 non-null  float64
 5   estadoCuenta1  29997 non-null  float64
 6   estadoCuenta2  29995 non-null  float64
 7   estadoCuenta3  29993 non-null  float64
 8   estadoCuenta4  29991 non-null  float64
 9   estadoCuenta5  29984 non-null  float64
 10  estadoCuenta6  29986 non-null  float64
 11  saldo1         29989 non-null  float64
 12  saldo2         29989 non-null  float64
 13  saldo3         29987 non-null  float64
 14  saldo4         29985 non-null  float64
 15  saldo5         29983 non-null  float64
 16  saldo6         29990 non-null  float64
 17  pago1          29992 non-null  float64
 18  pago2          29991 non-null  float64
 19  pago3          29992 non-null  float64
 20  pago4          29989 non-null  float64
 21  pago5          29989 non-null  float64
 22  pago6          29995 non-null  float64
 23  Y              29997 non-null  float64
dtypes: float64(23), int64(1)
memory usage: 5.5 MB
None
-------------df.isna()-----------
       monto  genero  educacion  estadoCivil   edad  estadoCuenta1  \
0      False   False      False        False  False          False
1      False   False      False        False  False          False
2      False   False      False        False  False          False
3      False   False      False        False  False          False
4      False   False      False        False  False          False
...      ...     ...        ...          ...    ...            ...
29995  False   False      False        False  False          False
29996  False   False      False        False  False          False
29997  False   False      False        False  False          False
29998  False   False      False        False  False          False
29999  False   False      False        False  False          False

       estadoCuenta2  estadoCuenta3  estadoCuenta4  estadoCuenta5  ...  \
0              False          False          False          False  ...
1              False          False          False          False  ...
2              False          False          False          False  ...
3              False          False          False          False  ...
4              False          False          False          False  ...
...              ...            ...            ...            ...  ...
29995          False          False          False          False  ...
29996          False          False          False          False  ...
29997          False          False          False          False  ...
29998          False          False          False          False  ...
29999          False          False          False          False  ...

       saldo4  saldo5  saldo6  pago1  pago2  pago3  pago4  pago5  pago6      Y
0       False   False   False  False  False  False  False  False  False  False
1       False   False   False  False  False  False  False  False  False  False
2       False   False   False  False  False  False  False  False  False  False
3       False   False   False  False  False  False  False  False  False  False
4       False   False   False  False  False  False  False  False  False  False
...       ...     ...     ...    ...    ...    ...    ...    ...    ...    ...
29995   False   False   False  False  False  False  False  False  False  False
29996   False   False   False  False  False  False  False  False  False  False
29997   False   False   False  False  False  False  False  False  False  False
29998   False   False   False  False  False  False  False  False  False  False
29999   False   False   False  False  False  False  False  False  False  False

[30000 rows x 24 columns]

#### Limpia los datos eliminando los registros nulos o rellena con la media de la columna

In [37]:
# revisemos si tenemos nulos
print(df.isnull().values.any())
# Como si tenemos nulos, vamos a eliminarlos
df.dropna(inplace=True)
print(df.isnull().values.any())

True
False

#### Calcula la estadística descriptiva con describe() y explica las medidas de tendencia central y dispersión

In [38]:
df.describe()

,monto,genero,educacion,estadoCivil,edad,estadoCuenta1,estadoCuenta2,estadoCuenta3,estadoCuenta4,estadoCuenta5,...,saldo4,saldo5,saldo6,pago1,pago2,pago3,pago4,pago5,pago6,Y
count,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,...,29958.000000,29958.000000,29958.000000,29958.000000,2.995800e+04,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000
mean,167555.900928,1.604012,1.853094,1.551739,35.483443,-0.017124,-0.134021,-0.166767,-0.221110,-0.266807,...,43279.335370,40328.984578,38889.925763,5664.614460,5.925715e+03,5228.429969,4829.873556,4801.481574,5220.708025,0.221143
std,129737.299088,0.489070,0.790471,0.521952,9.214319,1.123989,1.197171,1.196026,1.168419,1.132307,...,64364.684347,60826.219326,59582.883301,16568.823518,2.305598e+04,17617.338167,15676.205514,15285.552652,17788.983767,0.415023
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2327.500000,1762.250000,1256.000000,1000.000000,8.352500e+02,390.000000,296.250000,253.250000,118.000000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19037.500000,18104.500000,17067.500000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,54551.250000,50220.750000,49234.750000,5007.000000,5.000000e+03,4511.500000,4014.750000,4040.000000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

#### Realiza el conteo de las variables categóricas

In [43]:
# En la descriopción de los datos podemos ver cuales variables son categóricas
# y cuales son numéricas
# Sin embarto voy a aplicar un conteo rápido de los valores únicos de los features.
# si el número de valores únicos es menor que 20 voy a considerar que la variable es categórica
columnasCategoricas = []
columnasNumericas = []
for feature in df.columns:
    if df[feature].unique().size <= 20:
        columnasCategoricas.append(feature)
        print(feature,'tiene ',df[feature].unique().size, ' valores unicos y la consideraremos como categórica')
    else:
        columnasNumericas.append(feature)

genero tiene  2  valores unicos y la consideraremos como categórica
educacion tiene  7  valores unicos y la consideraremos como categórica
estadoCivil tiene  4  valores unicos y la consideraremos como categórica
estadoCuenta1 tiene  11  valores unicos y la consideraremos como categórica
estadoCuenta2 tiene  11  valores unicos y la consideraremos como categórica
estadoCuenta3 tiene  11  valores unicos y la consideraremos como categórica
estadoCuenta4 tiene  11  valores unicos y la consideraremos como categórica
estadoCuenta5 tiene  10  valores unicos y la consideraremos como categórica
estadoCuenta6 tiene  10  valores unicos y la consideraremos como categórica
Y tiene  2  valores unicos y la consideraremos como categórica

#### Reduce las dimensiones con PCA, si consideras necesario.